.GameList, .Game_Card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    list-style-type: none;
}

.midbanner, .bottombanner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    list-style-type: none;
}

.bottomicon {
    display: flex;
    align-items: center;
    justify-content: center;

}

.iconSize {
    width: 2rem;
    height: 2rem;
}
