:root {
    --color-button:orange;
    --color-primary:white;
    --color-secondary:black;
    --font-primary:'Open Sans', sans-serif;
    --font-header: 'Bebas Neue', cursive;
    --font-size-content:1.8rem;
    --font-size-head1:3.6rem;
    --font-size-head2:2.4rem;
}

html{
    font-size: 63%;
    font-family: var(--font-primary);
}

*{
    box-sizing: border-box;
}